<p style="color: green"><%= notice %></p>

<%= render @atm %>

<div>
  <%= link_to "Edit this atm", edit_atm_path(@atm) %> |
  <%= link_to "Back to atms", atms_path %>

  <%= button_to "Destroy this atm", @atm, method: :delete %>
</div>
