<div id="<%= dom_id account %>">
  <p>
    <strong>Current User:</strong>
    <%= current_user.id  %> " | |" <%= current_user.email  %>
  </p>
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= account.phone_number %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= account.date_of_birth %>
  </p>

  <p>
    <strong>Sexe:</strong>
    <%= account.sexe %>
  </p>

  <p>
    <strong>Profession:</strong>
    <%= account.profession %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= account.address %>
  </p>

  <p>
    <strong>User Owner:</strong>
    <%= account.user_id %>
  </p>
</div>
