  <%= form_with(model: account) do |form| %>
  <% if account.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, style: "display: block", class:"form-label" %>
    <%= form.text_field :name, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :phone_number, style: "display: block", class:"form-label" %>
    <%= form.text_field :phone_number, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :date_of_birth, style: "display: block", class:"form-label" %>
    <%= form.date_field :date_of_birth, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :sexe, style: "display: block", class:"form-label" %>
    <%= form.select :sexe, [["Select", ""],["Male", "male"], ["Female", "female"]], class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :profession, style: "display: block", class:"form-label" %>
    <%= form.text_field :profession, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :address, style: "display: block", class:"form-label" %>
    <%= form.text_field :address, class:"form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit %>
  </div>
<% end %>
