<% if user_signed_in? && @accounts.empty? %>
  <div class="alert alert-success mt-5" role="alert">
    <h1 class="fs-1">
      <%= "You should Have and An Bank Account and Generated A Bank Card. " %><%= link_to "Create An Account", new_account_path, class:"alert-link" %>
    </h1>
  </div>
<% end %>

<p style="color: green"><%= notice %></p>

<% if @accounts.empty? %>
<div class="container mb-5">
  <h1>
    <%= link_to "New account", new_account_path, class:"fs-1 btn btn-primary" %>
  </h1>
</div>  
<% else %>
  <div class="container mt-5 mb-5">
    <h1>Accounts</h1>
      <div id="accounts">
        <% @accounts.each do |account| %>
          <div class="account">
            <%= render account %>
          </div>
          <!--p>
            <%#= link_to "Show this account", account %>
          </p -->
          
        <% end %>
      </div>
  </div>
    
<% end %>