<p style="color: green"><%= notice %></p>
<%= form_with(model: Account, url: generate_bank_card_account_path(bank_card_for_user: @account)) do |form| %>
  <%= form.submit "Generated A Bank Card", class:"btn btn-primary" %>
<% end %>


<%= render @account %>

<div>
  <%= link_to "Edit this account", edit_account_path(@account) %> |
  <%= link_to "Back to accounts", accounts_path %> 


  <%= button_to "Destroy this account", @account, method: :delete %>
</div>
